@{
    ViewData["Title"] = "Skriv til VoresWebshop";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    My Frankie Way<br />
    8260 Viby J<br />
    <abbr title="Phone">Tel:</abbr>
    86 12 34 56
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@voreswebshop.dk</a><br />
    <strong>Mørketing:</strong> <a href="mailto:Marketing@example.com">Marketing@voreswebshop.dk</a>
</address>
